header{
width: 95%;
margin: auto;
}

section {
    text-align: center;
}

.left-side {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color:#777;
}

.right-side {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color:#777;
}

button.right-side{
    width: 80px;
    height: 35px;
    background-color: #4285f4;
    border: 0;
    color: aliceblue;
    font-weight: bold;
    margin-top: 15px;
}

.button button{
    margin-left: 15px;
    width: 150px;
    height: 40px;
    border: 0;
    color: #555;
}

.button button:hover{
    border: 1px solid #888 ;
}

.hover:hover {
    text-decoration: underline #777;
}

.list{
    height: 27px;
    width: 27px;
    padding: 0;
}

.list span{
    width: 5px;
    height: 5px;
    background-color: #888;
    margin: 1px;
    float: left;
}

input{
    width: 450px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 40px;
    font-size: medium;
}